:root {
  --lightgray: #2e2f33;
  --darkgray: #23272a;
  --lightblue: #7289da;
  --bluegray: #99aab5;
}

body {
  color: white;
  font-family: serif;

  background: linear-gradient(
    180deg,
    rgb(23, 25, 27) 20%,
    rgba(46, 47, 51, 1) 100%
  );

  position: relative;
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  top: 0;
  left: 0;
}

.bg {
  padding: 0px;
}

h1 {
  background: -webkit-linear-gradient(
    90deg,
    rgba(84, 63, 2, 1) 0%,
    rgba(206, 153, 46, 1) 30%,
    rgba(150, 98, 36, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
  font-size: 30px;
  font-weight: 800;
}

h2 {
  color: white;
}

p {
  font-size: 20px;
  color: #ffffffe8;
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 30px 0px;
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: var(--lightblue);
  border-radius: 5px;
  padding: 10px;
  height: auto;
  font-size: 18px;
  font-weight: 600;
  margin: 10px 10px;
  color: var(--darkgray);
}

.btn > svg {
  margin-left: -25px;
  margin-right: 10px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: var(--bluegray);
}

.leagueGif {
  width: 350px;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iconImg {
  width: 100px;
  height: 100px;
}

a {
  color: rgba(206, 153, 46, 1);
  font-size: 18px;
  text-align: "center";
  margin-bottom: 40px;
}

a:hover {
  color: orange;
}
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  .bg {
    padding: 20px;
  }

  .leagueGif {
    width: 550px;
    height: auto;
    margin-left: -10px;
  }

  p {
    font-size: 18px;
  }

  .pContainer {
    padding: 0px 80px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
  .content {
    display: flex;
    flex-direction: row;
    margin: 30px 50px 30px 50px;
    justify-content: center;
  }

  h1 {
    font-size: 60px;
  }

  .iconImg {
    position: absolute;
    top: 20px;
    left: 50px;
    width: 120px;
    height: 120px;
  }

  .btnContainer {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn {
    background-color: var(--lightblue);
    border-radius: 5px;
    padding: 5px;
    color: var(--darkgray);
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 0px 20px;
    height: auto;
    border-color: var(--lightgray);
  }
  a {
    font-size: 16px;
  }
}
